
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
       flex: 1 0 auto;
}

.editor{
       background-color: #00979c;
       height:86vh;

}

.navigation{
    background-color: #00979c;
    color: white;
    width: 100%;
}

i{
    color: white;
}

.row{
    margin:0px;
    padding:0px;
}

.input-block{
    height: 90%;
}

#input{
    height: 100%;
    width: 100%;
    resize: none;
    color: #000;
    background-color: #fff;


}

.row .col{
    padding: 0px;
}

.page-footer{
    padding-top: 16px;
}

.headEdi{
    color: white;
    font-size: 18px;
    font-weight: light;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }